.root {
  min-height: 90vh;
  width: 100%;
  background-color: white;
  padding: 10px 20px;
}

.taskContainer {
  display: flex;
  align-item: center;
  width: 100%;
  height: 52px;
  border: 1px solid #e9e9e9;
}

.taskContainer:hover {
  background-color: #e9e9e9;
}

.taskIndexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 10%;
  padding: 10px 0;
}

.taskArchivedContainer {
  display: flex;
  flex: 0 0 15%;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.taskTitleContainer {
  display: flex;
  flex: 0 0 60%;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.finishedTaskTitle {
  display: flex;
  text-decoration: line-through;
  justify-content: flex-start;
  width: 100%;
}

.actionContainer {
  display: flex;
  flex: 0 0 15%;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.pinAction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 50%;
}

.deleteAction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 50%;
}

.unfillIconStar::before {
  content: "\e608";
}

.fillIconStar::before {
  content: "\e609";
}
