.taskArchivedContainer {
  display: flex;
  height: 3rem;
  width: 44px;
  justify-content: center;
  align-items: center;
}

.actionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pinAction {
  padding-right: 10px;
}

.unfillIconStar::before {
  content: "\e608";
}

.fillIconStar::before {
  content: "\e609";
}
